body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px;
    min-height: 520px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 20px 80px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    background-color: cadetblue;
    color: azure;
    margin-top: 20px;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-family: sans-serif;
    font-size: 24px;
}
